.modal-style{
    background: rgba(0,0,0,.65);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-style-open{
    display: grid;
}

.modal-style__dialog{
    background: rgba(48, 49, 52);
    padding: 10px;
    border-radius: 5px;
    /* width: 300px;
    height: 400px; */
}

.input-style-modal{
    float: right;
}

textarea {
    max-width: 100%;
    display: block;
}