.login{
    background-color: #303134;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 20px 50px 20px;
    width: 30%;
    border-radius: 5px;
    color: aliceblue;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registro{
    background-color: #303134;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 50px 20px;
    width: 30%;
    border-radius: 5px;
    color: aliceblue;
}

.add{
    background-color: #303134;
    border-radius: 5px;
    color: aliceblue;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 20px 50px 20px;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    max-width: 100%;
    display: block;
}